<!DOCTYPE html>
{% extends "blog/base.html" %}
{% block body%}
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trip to Incredible India : CONTACT</title>
	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/styles.css">
	
</head>
<body>
<div id="wrapper">
		<header id="header">
			<div class="container">
				<nav id="nav">
					<div class="opener-holder">
						<a href="#" class="nav-opener"><span></span></a>
					</div>
				</nav>
			</div>
		</header>
	<section class="visual">
		<img src="{% static "image/contact.jpg" %}" alt="" class="bg-stretch">
	</section>
	<section class="main">
		<div class="container">
			<div class="row">
				<div class="text-box col-md-offset-1 col-md-10">
					<h2>Contact </h2>
					<p>Gautham Mohandas<br>Email: gautham.mohandas@stud.th-deg.de</p>
					<p>A G Maheswar<br>Email: maheshwar.atteri-ganesh@stud.th-deg.de</p>
					<p>Saichander Joginipally<br>Email: saichander.joginipally@stud.th-deg.de</p>
				</div>
			</div>
		</div>
	</section>
	
</div>
</body>
</html>

  {% endblock %}

